body {
  margin: 1px;
  padding: 1px;
}

ul {
  list-style: none;
  padding: 0;
}

.octodex {
  margin: 20px;
}

.octocat {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  font-size: 20px;
  margin: auto 10px;
}
.octocat a{
  border-radius: 2px;
  position:relative;
}

.octocat > a img{
  width: 100%;
  margin-top:15px;
  border: 1px solid #C6C5CB;

  position: relative;
}

.octocat > a::after {
  content:"";
  height: 0;
  width: 0;
  border-top: solid 10px #C6C5CB;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;

  position: absolute;
  top:100%;
  right: 0;
  transform: translateY(-50%);

}

.authors a {
  display: inline-block;
  width: 30px;
}

.authors img {
  width: 100%;
  position:relative;
  border-radius:3px;
}

.image-footer {
  display: flex;
  align-items: center;
  /* display: block;
  flex-direction: column;
  justify-content: flex-end; */
  border-bottom: 1px solid #C6C5CB;
  font-size: 18px;
  height:80px;
  position: relative;
}

.image-number::before {
  content: "#";
  color: #C6C5CB;
}

.image-number {
  color: #C6C5CB;
  font-size: 18px;
  /* position: absolute;
  left: 0; */
}

.image-caption {
  /* display:inline-block; */
  /* text-align: right; */
  display: flex;
  margin-left: auto;
}

.image-caption span {
  color: #9D9E9A;
}

.image-caption a {
  color: #010100;
  font-size: 20px
}
